.log{
  background: url('../../images/logingbg.jpeg') no-repeat;
  background-size: cover;
  background-position: top right;
  height: 100%;
}
.login{
    width: 25rem;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    height: 100%;
}
.login_header1{
    color: #000;
    font-size: 300;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.login-header2{
    color: #fff;
    font-weight: 400;
}
.login{
    display: inline-block;
    padding: 50px;
    
}
.login input{
    width: 30rem;
    height: 2rem;
    padding: 2px;
    margin: 4px 4px 4px -100px;
    text-align: center;
    border: none;
}
.login input[type='text']{
   border-radius: 10px;
}
.login input[type='submit']{
    background: seagreen;
    width: 30rem;
    height: 3rem;
    border-radius: 5px;
    cursor: pointer;
    color: honeydew;
}
.forgot-password,
.sign-up-link{
    cursor: pointer;
    font-size: small;
    font-weight: 500;
    line-height: 3px;
    letter-spacing: 1px;
    color: #fff;
}
@media(max-width:690px){
    .login-header2{
        font-size: 14px
    }
    .login_header1{
        font-size: 14px;
    }
}
